.editorial-statistics-filter {
	display: none;
}

#editorial_statistics_terms_chzn {
	width: 250px !important;
}

#editorial_statistics_terms_chzn input,
.chzn-drop {
	width: 240px !important;
}

#report_table td {
	padding: 3px 20px 3px 0px;
}

#report_table .header {
	font-weight: bold;
	border-bottom: 1px solid #000;
}